body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #74aa70;
    overflow: hidden;
}
/* Fade-in animation */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Apply animation to body */
  body {
    animation: fadeIn 1.5s ease-in-out;
  }
  
   

.header {
    position: relative;
    height: 100vh;
    
    display: flex;
    align-items:center;
    justify-content: center;
}
#gif-background {

    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto; 

    max-width: none; 
    max-height: none;
    object-fit: fill;
    background-size: cover;
    z-index: -1;
    
}

.subtext {
    color: #ffffff;
    font-size: 1.2em;
    
}


.social-links {
    margin-top: 20px;
}

.social-links a {
    
    display: inline-block;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    color: brown;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    font-size: 1.2em;
    transition: all 0.3s ease;
}

.social-links a:hover {
    background-color: white;
    color: rgb(0, 255, 221);
}

.overlay {
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 40px;
    text-align:center;
    border-radius: 5px;
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px);
    width: 100%;
    height: 30%; /* change eza fi prob*/
}


.overlay h1 {
    color: rgb(255, 132, 200);
    font-size: 4em;
    margin: auto;
    transition: all 0.3s ease;
    
}

.overlay h1:hover {
    font-size: 6em;
    transform: translateY(-3px); /* Slight lift */
    color:green

}
